@model IEnumerable<WholeSaler.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between">
            <a asp-action="Create" class="btn btn-primary btn-icon-split float-right">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text">Add Category</span>
            </a>
            <h6 class="m-0 font-weight-bold text-primary align-self-center">
                @ViewData["Title"]
            </h6>
            <div></div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <a asp-route-sortOrder="category_name">
                                CategoryName
                            </a>
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
