/*
  Font of all pages and 
  Color of elements on page
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html * {
    font-family: 'Open-Sans', sans-serif;
    color: #fbfbfb !important;
}

.text-secondary {
    color: #fbfbfb94 !important;
}

tr {
    border-bottom: #5c574e !important;
}

    tr:hover {
        background-color: #1e2122;
    }

/*Background Color*/

body, .card{
    background-color: #1a1c1d !important;
}

/*Container Min Sizing*/

.container-md {
    overflow: auto;
    min-height: 50% !important;
    min-width: 70% !important;
}

/*Header and Footer styles*/

.corner-top {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
    background-color: #1e2122 !important;
    border-radius: 0px 0px 25px 25px !important;
    padding: 2% 2% 2% 2% !important;
}

.corner-bottom {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
    background-color: #1e2122 !important;
    border-radius: 25px 25px 0px 0px !important;
    margin: 2% 0% 0% 0% !important;
    padding: 2% 2% 2% 2% !important;
}

/*Buttons*/

.theme-button {
    background-color: transparent !important;
    border-bottom-color: #1e2122 !important;
}

    .theme-button:hover {
        background-color: transparent !important;
        border-bottom-color: #fbfbfb !important;
    }

.currentpage {
    background-color: transparent !important;
    border-bottom: 2px solid #fbfbfb;
}

/*Buttons | Success*/

.theme-button-success {
    background-color: transparent !important;
    border-bottom-color: #1e2122 !important;
}

    .theme-button-success:hover {
        background-color: transparent !important;
        border-bottom-color: #196c46 !important;
    }

/*Buttons | Error*/

.theme-button-error {
    background-color: transparent !important;
    border-bottom-color: #1e2122 !important;
}

    .theme-button-error:hover {
        background-color: transparent !important;
        border-bottom-color: #ed4245 !important;
    }

/*Buttons | Warning*/

.theme-button-warning {
    background-color: transparent !important;
    border-bottom-color: #1e2122 !important;
}

    .theme-button-warning:hover {
        background-color: transparent !important;
        border-bottom-color: #f1c10e !important;
    }
/*Border - Left | Success*/

.border-left-success {
    background-color: transparent !important;
    border-left-color: #1e2122 !important;
}

    .border-left-success:hover {
        background-color: transparent !important;
        border-left-color: #196c46 !important;
    }

/*Border - Left | Error*/

.border-left-error {
    background-color: transparent !important;
    border-left-color: #1e2122 !important;
}

    .border-left-error:hover {
        background-color: transparent !important;
        border-left-color: #ed4245 !important;
    }

/*Border - Left | Warning*/

.border-left-warning {
    background-color: transparent !important;
    border-left-color: #1e2122 !important;
}

    .border-left-warning:hover {
        background-color: transparent !important;
        border-left-color: #f1c10e !important;
    }
/*ScroolBar*/

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #575e62;
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: #484e51;
    }

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

/*Link Style*/

a {
    text-decoration: none;
}

    a:hover {
        border-bottom: 2px solid #fbfbfb;
    }

.navbar-brand {
    border-bottom: none !important;
}

/*Form Style*/

.form-control:disabled {
    background-color: #303134 !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}

.form-control {
    background-color: #202124 !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}

/*Auto Fill Background Problem Fix*/

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: white !important;
}

/*Select Boxes Styles*/
select, input[type=text], input[type=password], input[type=number], textarea, .form-control, option {
    background-color: transparent !important;
    border-right: 2px solid #1e2122 !important;
    border-top: 2px solid #1e2122 !important;
    border-left: 2px solid #1e2122 !important;
    border-bottom: 2px solid #1e2122 !important;
}

/*Toast Message*/
#toastBar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

    #toastBar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

nav > * {
    margin-left: 2%;
    margin-right: 2%;
}

article {
    margin-top: 8%;
    margin-bottom: 8%;
}