@using WholeSaler.Controllers;
@model List<CategoryViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using WholeSaler.Utils
@using WholeSaler.Resources
@inject IHtmlLocalizer<SharedResource> SharedLocalizer


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary align-self-center"> @SharedLocalizer["Choose Category for Shopping"] </h6>
            <div></div>
        </div>
    </div>
    <div class="card-body d-flex">
        @foreach(var category in Model)
            {
            
            <a asp-action="ViewCategory" asp-route-categoryId="@category.Category.CategoryID">
                <div class="card shadow m-4">
                    <div class="card-header">
                        @category.Category.CategoryName
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @category.ElementCount Item Here!
                        </div>
                    </div>
                </div>
            </a>
            }
    </div>
</div>
