@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model WholeSaler.Models.Operation
@using WholeSaler.Resources
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<form asp-action="Edit">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between">
                <a class="btn btn-secondary btn-icon-split" asp-action="Index">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">@SharedLocalizer["Back to List"]</span>
                </a>
                <h6 class="m-0 font-weight-bold text-primary align-self-center">
                    @ViewData["Title"]
                </h6>
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">@SharedLocalizer["Create"]</span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OperationID" />
            <div class="form-group">
                <label asp-for="DateID" class="control-label"></label>
                <select asp-for="DateID" class="form-control" asp-items="ViewBag.DateID"></select>
                <span asp-validation-for="DateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasketID" class="control-label"></label>
                <select asp-for="BasketID" class="form-control" asp-items="ViewBag.BasketID"></select>
                <span asp-validation-for="BasketID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationValue" class="control-label"></label>
                <input asp-for="OperationValue" class="form-control" />
                <span asp-validation-for="OperationValue" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
