<div class="sidebar-heading">
    Join Us
</div>
<li class="nav-item">
    <a class="nav-link theme-button-success collapsed" id="register" asp-area="Identity" asp-page="/Account/Register">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Register
    </a>
</li>
<li class="nav-item">
    <a class="nav-link theme-button-success collapsed" id="login" asp-area="Identity" asp-page="/Account/Login">
        <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i> Login
    </a>
</li>